[submodule "teleop/televuer"]
	path = teleop/televuer
	url = git@github.com:zztyac/televuer_shu.git
[submodule "teleop/robot_control/dex-retargeting"]
	path = teleop/robot_control/dex-retargeting
	url = https://github.com/silencht/dex-retargeting
[submodule "teleop/teleimager"]
	path = teleop/teleimager
	url = git@github.com:zztyac/teleimager_shu.git
